Flask
python-dotenv
crewai
crewai_tools
langchain_community
langchain-openai
gunicorn
flask-cors
flask-limiter
python-json-logger
markdown
bleach
email-validator
beautifulsoup4
requests
apscheduler
pandas
openai
pip